body {
    background-image: url(./imagens/mapa-gyn.png);
    background-repeat: no-repeat;
    background-size:cover;
}

* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #323232;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.caixa {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.caixa p {
    color: #B8B8B8;
    font-weight: 600;
}

.imagem-logo {
    margin: 5px 22px;
    width: 50px;
    height: 50px;
}
/*
.botoes {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 13%;
}

.button-home a {
    text-decoration: none;
    color: #5EBB62;
    font-weight: bold;
}
.button-equipe a {
    text-decoration: none;
    font-weight: bold;
    color: #DCDCDC;
}

.button-entrar {
    background-color: #188454;
    border: 0;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    color: white;
    font-weight: bold;
}
*/

nav {
    position: absolute;
    right: 30px;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav li a {
    text-decoration: none;
}

.nav-home a {
    color: #5EBB62;
    font-weight: bold;
}

.nav-equipe a {
    color: #DCDCDC;
}

.nav-equipe a:hover {
    color: #5EBB62;
    transition: 250ms;
}

nav li button {
    background-color: #188454;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}

/*Main*/

main {
    background-image: url(./imagens/mapa-gyn.png);
}   

.banner {
    font-family: 'Raleway', sans-serif;
    background-color: rgba(217, 217, 217, .85);
    text-align: center;
    padding: 36px 370px 47px 370px;
    margin: 15% 0 15% 0;
}

.banner h1 {
    color: #3F3939;
    font-size: 64px;
    margin-bottom: 6px;
}

.banner h2 {
    color: #3F3939;
    font-size: 20px;
    margin-bottom: 12px;
}

.banner button {
    color: white;
    background-color: #164C34;
    border: 0;
    border-radius: 8px;
    padding: 7px 40px;
    font-weight: bold;
}

/*Footer*/

footer {
    background-color: #F2F2F2;
    text-align: center;
}

footer img {
    margin-top: 2%;
}

footer h1 {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
}

footer h2 {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
}

footer p {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}